<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lemon.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Lemon.My.MySettings>
            <setting name="dataHome" serializeAs="String">
                <value>google.com</value>
            </setting>
            <setting name="dataPin" serializeAs="String">
                <value />
            </setting>
            <setting name="dataBookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Google</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="dataUrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.google.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="dataHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>google.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="dataNotes" serializeAs="String">
                <value>Welcome to your personal notepad!  These notes will automagically save when you exit.</value>
            </setting>
            <setting name="dataMemory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>google.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="dataDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://</string>
                        <string>www.</string>
                        <string>.aero</string>
                        <string>.asia</string>
                        <string>.biz</string>
                        <string>.cat</string>
                        <string>.com</string>
                        <string>.coop</string>
                        <string>.edu</string>
                        <string>.gov</string>
                        <string>.info</string>
                        <string>.int</string>
                        <string>.jobs</string>
                        <string>.mil</string>
                        <string>.mobi</string>
                        <string>.museum</string>
                        <string>.name</string>
                        <string>.net</string>
                        <string>.org</string>
                        <string>.post</string>
                        <string>.pro</string>
                        <string>.tel</string>
                        <string>.travel</string>
                        <string>.xxx</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="varGoogle" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="varHideWelcome" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="varRemember" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="varTopNav" serializeAs="String">
                <value>false</value>
            </setting>
        </Lemon.My.MySettings>
    </userSettings>
</configuration>